body {
  font-family: sans-serif;
  margin: auto;
  width: 90%;
  max-width: 675px;
}

h4 {
    margin-bottom: 0px;
}

p{
  margin-top: 0px;
}


.navbar {
  background-color: #37782a;
  border-radius: 2px;
  max-width: 645px;
}

.navbar a {
  color: #aac9a3;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.content {
  max-width: 630px;
  border-radius: 2px;
  display: inline-block;
  padding: 10px;
}

th, td {
  padding: 5px;
  vertical-align: top;
}