body {
  font-family: sans-serif;
  margin: auto;
  width: 96%;
  max-width: 775px;
}

h4 {
    margin-bottom: 5px;
    margin-top: 0.6cm;
}

h3 {
    margin-bottom: 0px;
}

h2 {
    margin-bottom: 0px;
}

p{
  margin-top: 0px;
}

ul{
    margin-top: -3mm;
}


.navbar {
  background-color: #37782a;
  border-radius: 2px;
  max-width: 750px;
}

.navbar a {
  color: #aac9a3;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.content {
  max-width: 730px;
  border-radius: 0px;
  display: inline-block;
  padding: 10px;
}

th, td {
  padding: 5px;
  vertical-align: top;
}

.noPadding
{
width:400px;
height:400px;
border: 5px solid yellow;
}
.padding
{
width:400px;
height:400px;
padding: 0px 10px 0px 0px;
}

.box {
  width: 300px;
  margin: 20px auto;
  background: #00bfb6;
  padding: 10px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position:relative;
  left: 0px;
}

.box1 {
  width: 300px;
  margin: 50px auto;
  background: #00bfb6;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position:relative;
  right: -30px;
}

.box2 {
  width: 300px;
  margin: 50px auto;
  background: #00bfb6;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position:relative;
  left: -30px;
}

.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #00bfb6;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 6px;
}

.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 10px solid #00bfb6;
  border-left: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 6px;
}